<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="bookmakerDao" class="com.da.bookmaker.dao.template.BookmakerDaoTemplateImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="expressDao" class="com.da.bookmaker.dao.template.ExpressDaoTemplateImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="iventDao" class="com.da.bookmaker.dao.template.IventDaoTemplateImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="questionDao" class="com.da.bookmaker.dao.template.QuestionDaoTemplateImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="userDao" class="com.da.bookmaker.dao.template.UserDaoTemplateImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="${db_url}"></property>
		<property name="username" value="${db_user}"></property>
		<property name="password" value="${db_password}"></property>
	</bean>

	<bean id="property"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:sh.properties</value>
			</list>
		</property>
	</bean>
</beans>