<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 xmlns:task="http://www.springframework.org/schema/task"
 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

<!--  <bean id="vprognoze" class="com.da.bookmaker.parser.VprognozeParser"></bean> --> 
 
<bean id="rss" class="com.da.bookmaker.rss.EurosportXmlImpl"></bean>
 
 <task:scheduled-tasks>
 	<task:scheduled ref="rss" method="parseRss" cron="0 0 */1 * * ?"/>                                            
 </task:scheduled-tasks>
 
<!-- <task:scheduled-tasks>
 	<task:scheduled ref="vprognoze" method="parseVprognoze" cron="0 0 */1 * * ?"/>
</task:scheduled-tasks> -->
</beans>