<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

	<bean id="vprognoze" class="com.da.bookmaker.parser.VprognozeParser"></bean>

	<bean id="rss" class="com.da.bookmaker.rss.EurosportXmlImpl"></bean>

	<bean id="betFaq" class="com.da.bookmaker.parser.BetFaqParser"></bean>

	<bean id="wildstat" class="com.da.bookmaker.parser.WildstatParser"></bean>

	<bean id="xBet" class="com.da.bookmaker.parser.OneXbetParser"></bean>

	<bean id="ligaStavok" class="com.da.bookmaker.parser.LigaStavokParser"></bean>

	<task:scheduled-tasks>
		<task:scheduled ref="ligaStavok" method="parseAllChamp" cron="0 0 */1 * * ?" />
	</task:scheduled-tasks>

	<task:scheduled-tasks>
		<task:scheduled ref="betFaq" method="parseBetFaq" cron="0 0 */1 * * ?" />
	</task:scheduled-tasks>

	<task:scheduled-tasks>
		<task:scheduled ref="rss" method="parseRss" cron="0 0 */1 * * ?" />
	</task:scheduled-tasks>

	<task:scheduled-tasks>
		<task:scheduled ref="vprognoze" method="parseVprognoze" cron="0 0 */1 * * ?" />
	</task:scheduled-tasks>

	<task:scheduled-tasks>
		<task:scheduled ref="wildstat" method="parseLastSeasons" cron="0 0 */1 * * ?" />
	</task:scheduled-tasks>
	
	<task:scheduled-tasks>
		<task:scheduled ref="wildstat" method="parseWildstatLeagueTables" cron="0 0 */1 * * ?" />
	</task:scheduled-tasks>

	<task:scheduled-tasks>
		<task:scheduled ref="xBet" method="paresAllChamp" cron="0 0 */1 * * ?" />
	</task:scheduled-tasks>

</beans>